# Analyzing Internet performance in London 
<br>
Started on March 3, 2022 â€” Finished on
<br><br>
This notebook compiles the analysis done on the Local Authority performance data of 2021 produced by Ofcom: https://www.ofcom.org.uk/research-and-data/multi-sector-research/infrastructure-research/connected-nations-2021/data-downloads. <br>
Geographic data for the Local Authorities comes from the ONS: https://geoportal.statistics.gov.uk/datasets/ons::local-authority-districts-may-2021-uk-bfe/about.

In [1]:
# Import packages

import pandas as pd
import numpy as np
import requests

In [3]:
# Open dataset

performance_data = "laua_performance_2021.csv" #ofcom data for local authorities 2021
df_data = pd.read_csv(performance_data)
df_data.head(10)

,laua,laua_name,Median download speed (Mbit/s),Average download speed (Mbit/s),Maximum download speed (Mbit/s),Average download speed (Mbit/s) for lines < 10Mbit/s,Average download speed (Mbit/s) for lines 10<30Mbit/s,Average download speed (Mbit/s) for lines 30<300Mbit/s,Average download speed (Mbit/s) for SFBB lines,Average download speed (Mbit/s) for UFBB lines,...,Number of connections 30<300 Mbit/s (number of lines),Number of connections >=300 Mbit/s (number of lines),Number of connections >=30 Mbit/s (number of lines),Average data usage (GB),Median data usage (GB),Average data usage (GB) for lines <10Mbits,Average data usage (GB) for lines 10<30Mbit/s,Average data usage (GB) for lines 30<300Mbit/s,Average data usage (GB) for SFBB lines,Average data usage (GB) for UFBB lines
0,S12000033,ABERDEEN CITY,44.5,62.7,1000.00,6.4,19.0,60.7,79.0,601.9,...,64963,2276,67239,419,266,100,247,450,460,736.0
1,S12000034,ABERDEENSHIRE,39.8,47.7,1000.00,5.3,19.8,57.9,64.7,604.5,...,63388,790,64178,402,231,123,274,473,477,804.0
2,E07000223,ADUR,68.3,101.3,1000.00,6.6,19.3,92.3,121.8,436.9,...,18443,1725,20168,424,249,95,251,443,441,423.0
3,E07000026,ALLERDALE,42.5,47.3,1000.00,5.1,19.3,57.6,59.1,568.8,...,27907,84,27991,418,235,116,290,475,475,646.0
4,E07000032,AMBER VALLEY,42.0,57.9,1140.17,5.9,19.7,63.2,73.6,476.9,...,34445,885,35330,439,255,92,285,502,502,500.0
5,S12000041,ANGUS,40.0,54.1,1000.00,5.5,19.5,63.0,72.6,473.7,...,30361,726,31087,434,233,126,304,507,507,515.0
6,N09000001,ANTRIM AND NEWTOWNABBEY,68.8,96.5,1096.00,5.1,19.0,84.7,117.9,524.1,...,38345,3143,41488,484,313,106,263,526,526,526.0
7,N09000011,ARDS AND NORTH DOWN,63.9,88.1,1096.00,5.5,19.3,76.9,105.4,532.9,...,47008,3144,50152,403,237,103,219,421,428,531.0
8,S12000035,ARGYLL AND BUTE,39.8,42.7,1000.00,5.3,19.9,57.4,58.8,577.3,...,24402,64,24466,335,168,97,233,408,408,622.0
9,N09000002,"ARMAGH CITY, BANBRIDGE AND CRAIGAVON",53.4,70.3,1096.00,5.1,19.0,70.6,90.2,532.1,...,51220,2266,53486,464,294,128,299,519,522,593.0

In [6]:
# LAUA geo file -- the OBJECTID field will be matched in the JSON

geo_file = "laua_may_2021_ons.csv"
geo_df = pd.read_csv(geo_file)
geo_df.head(10)

,OBJECTID,LAD21CD,LAD21NM,BNG_E,BNG_N,LONG,LAT,SHAPE_Length,SHAPE_Area
0,1,E06000001,Hartlepool,447160,531474,-1.27018,54.676140,66110.011028,9.835107e+07
1,2,E06000002,Middlesbrough,451141,516887,-1.21099,54.544670,41055.789790,5.455359e+07
2,3,E06000003,Redcar and Cleveland,464361,519597,-1.00608,54.567520,105292.103526,2.537854e+08
3,4,E06000004,Stockton-on-Tees,444940,518183,-1.30664,54.556911,108085.190140,2.097308e+08
4,5,E06000005,Darlington,428029,515648,-1.56835,54.535339,107203.152334,1.974778e+08
5,6,E06000006,Halton,354246,382146,-2.68853,53.334240,60716.835061,9.032152e+07
6,7,E06000007,Warrington,362744,388456,-2.56167,53.391628,84154.547834,1.823836e+08
7,8,E06000008,Blackburn with Darwen,369490,422806,-2.46360,53.700802,65284.952318,1.370221e+08
8,9,E06000009,Blackpool,332819,436635,-3.02199,53.821640,36304.962959,4.315077e+07
9,10,E06000010,"Kingston upon Hull, City of",511894,431650,-0.30382,53.769199,46016.382740,8.146886e+07

In [9]:
# Same data as geo_df but in json format -- just testing this 

json_data = "laua_may_2021_ons.json"
json_df = pd.read_json(json_data)
json_df.head(2)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...

In [ ]:
# Drop columns that I don't need on either dataset

In [ ]:
# Merge both sets on laua_name and LAD21CD respectively

In [4]:
# Filter dataset to get only the records from London